	
<!-- UI Templates -->

<script type="text/html" id="carousel_tmpl">
  <div id="pulp-carousel">
		<ul id="slider">
	  	<li class="article-container" id="container-0"></li>
	  	<li class="article-container" id="container-1"></li>
	    <li class="article-container" id="container-2"></li>
	  </ul
	</div>
</script>

<script type="text/html" id="view_tmp">
  <div class="wrapper">
		<%=content%>
	</div>
</script>

<script type="text/html" id="original_tmp">
  <div id="pulp-original"></div>
</script>

<script type="text/html" id="navbar_tmp">
  <div id="pulp-navbar">
		<button id="pulp-prev">&laquo;</button>
		<button id="pulp-next">&raquo;</button>
	</div>
</script>