	
<!-- UI Templates -->

<script type="text/html" id="carousel_tmpl">
  <div id="pulp-carousel">
		<div id="slider">
			<div class="article-container previous" id="container-0">
				<div></div>
			</div>
			<div class="article-container current" id="container-1">
				<div></div>
			</div>
			<div class="article-container next" id="container-2">
				<div></div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="view_tmp">
  <div class="wrapper">
		<%=content%>
	</div>
</script>

<script type="text/html" id="original_tmp">
  <div id="pulp-original"></div>
</script>

<script type="text/html" id="navbar_tmp">
  <div id="pulp-navbar">
		<button class="pulp-prev">&laquo;</button>
		<button class="pulp-next">&raquo;</button>
	</div>
</script>